@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 2560px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}

:root {
  --header-background: #ffffff;
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  --main-background: #fbfbfb;
  --main-alternate-background: var(--header-background);
  --header-and-main-text: #212216;
  --reserve-table-text: var(--header-background);
  --reserve-table-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  --content-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  --footer-background: #272b35;
  --footer-text: #f7f7f7;
  --footer-icon-color: invert(100%) sepia(1%) saturate(420%) hue-rotate(91deg)
    brightness(119%) contrast(94%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  color: var(--header-and-main-text);
  font-family: "Source Sans Pro", san-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header.website-header {
  background-color: var(--header-background);
  padding: 1rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: var(--header-box-shadow);
}

header .website-logo {
  display: flex;
  gap: 0.5rem;
}

header .website-logo-img {
  width: 3.5rem;
  height: 3.5rem;
}

header .website-logo-text {
  font-size: 2.5rem;
}

header .website-navigation {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
}

header .website-navigation > .links-container {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

header .link > a {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

header a.chosen-link {
  background-color: var(--header-and-main-text);
  color: var(--header-background);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

header .menu-icon {
  display: grid;
  justify-self: end;
  width: 3rem;
  height: 3rem;
}

main#content.home {
  display: grid;
  grid-template-rows: 2fr auto auto;
  gap: 3rem;
  font-size: 1.1rem;
  padding: 3rem 0;
}

main.home .reserve-table {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: url("../assets/img/pizza.jpg");
  background-size: 100% 100%;
  width: 95rem;
  height: calc(95rem / 7 * 4);
  border-radius: 2.5rem;
  justify-self: center;
  color: var(--reserve-table-text);
  text-shadow: var(--reserve-table-shadow);
}

main.home .reserve-table-header {
  font-weight: 1000;
  font-size: 2.5rem;
}

main.home .reserve-table-text {
  font-size: 3.5rem;
  font-weight: 1200;
  font-style: italic;
}

main.home .reserve-table-button {
  background: none;
  color: var(--reserve-table-text);
  text-shadow: inherit;
  font-size: 2rem;
  font-weight: 1000;
  padding: 1rem;
  border: 3px solid var(--reserve-table-text);
  border-radius: 0.5rem;
  margin-top: 18rem;
}

main.home .about-us {
  padding: 1rem 25rem;
  display: flex;
  gap: 2.5rem;
  background-color: var(--main-alternate-background);
  box-shadow: var(--header-box-shadow);
}

main.home .about-us-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

main.home .learn-more-button {
  background: none;
  color: inherit;
  font-size: inherit;
  border: 2px solid var(--header-and-main-text);
  border-radius: 0.25rem;
  padding: 1rem;
  align-self: flex-start;
}

main.home .about-us-image {
  display: flex;
  justify-self: center;
  align-self: center;
  width: auto;
  height: 20rem;
}

main.home .opening-hours {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--main-alternate-background);
  box-shadow: var(--content-box-shadow);
  border-radius: 1rem;
  width: 20%;
  justify-self: center;
  padding: 2rem 0;
}

main.home .opening-hours-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
}

main#content.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 10rem;
}

main.menu .menu-header-container {
  align-self: center;
}

main.menu .menu-header {
  font-size: 2rem;
  font-weight: bolder;
}

main.menu hr {
  width: 100%;
}

main.menu .menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

main.menu .dish-container {
  font-size: 1.1rem;
  box-shadow: var(--content-box-shadow);
  background-color: var(--main-alternate-background);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main.menu .dish-name {
  font-size: 1.25rem;
  font-style: italic;
}

footer.website-footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer .footer-content {
  font-size: 1.1rem;
  display: flex;
  gap: 3rem;
  margin-bottom: 1.25rem;
}

footer .restaurant-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .social-media-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

footer .social-media-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer .footer-icon {
  width: 1.75rem;
  height: 1.75rem;
  filter: var(--footer-icon-color);
}
