@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-background: #ffffff;
  --main-background: #fbfbfb;
  --header-and-main-text: #212216;
  --footer-background: #272b35;
  --footer-text: #f7f7f7;
  --footer-icon-color: invert(100%) sepia(1%) saturate(420%) hue-rotate(91deg)
    brightness(119%) contrast(94%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  color: var(--header-and-main-text);
  font-family: "Source Sans Pro", san-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header.website-header {
  background-color: var(--header-background);
  padding: 1rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

header .website-logo {
  display: flex;
  gap: 0.5rem;
}

header .website-logo-img {
  width: 3.5rem;
  height: 3.5rem;
}

header .website-logo-text {
  font-size: 2.5rem;
}

header .website-navigation {
  font-size: 1.5rem;
  display: grid;
  justify-self: center;
}

header .website-navigation > .links-container {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

header .link > a {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

header a.chosen-link {
  background-color: var(--header-and-main-text);
  color: var(--header-background);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

header .menu-icon {
  display: grid;
  justify-self: end;
  width: 3rem;
  height: 3rem;
}

main > h1 {
  text-align: center;
  margin-top: 1rem;
}

footer.website-footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer .footer-content {
  font-size: 1.1rem;
  display: flex;
  gap: 5rem;
  margin-bottom: 1.25rem;
}

footer .restaurant-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .social-media-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

footer .social-media-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer .footer-icon {
  width: 1.75rem;
  height: 1.75rem;
  filter: var(--footer-icon-color);
}
